@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #EF6100;
  --primary-light: #FBA367;
  --secondary: #1A1A1A;
  --background: #F5F5F5;
  --base-text: #1A1A1A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  color: var(--base-text);
  background-color: var(--background);
  min-width: 1000px;
}

@media only screen and (max-width: 550px) {
  body {
    min-width: 0px;
  }
}

button {
  height: 40px;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  cursor: pointer;
}

::selection {
  color: var(--base-text);
  background-color: var(--primary);
}
